################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pyproj
*.user
*.sln
/Weewx-OpsGenie.tar
/Weewx-OpsGenie.tar.gz
.idea/
.vs/
